<header class="header">
  <div class="header_wrapper">
    <img src="{{ 'Logo - MagicMassage (1) 1.png' | asset_url }}" alt="" />
    <nav class="navbar">
      <a href="#">Why MagicMassage</a>
      <a href="#">Features</a>
      <a href="#">Reviews</a>
      <a href="#">FAQ</a>
    </nav>
    <button class="header_btn">Order Now</button>
  </div>
</header>

{% schema %}
  {
    "name": "Header"
  }
{% endschema %}